<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box}
  /* Full-width input fields */
  input[type=text], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  /* Add a background color when the inputs get focus */
  input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity:1;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }

  /* Add padding to container elements */
  .container {
    padding: 16px;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }



  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
     width: 100%;
   }
 }
</style>

<body>
  <form class="modal-content" action="{% url 'register-organisasi:submit' %}" method="POST">
    <div class="container">
      <h1>Form Pendaftaran Organisasi</h1>
      <p>Isi formulir berikut untuk membuat akun organisasi</p>
      <hr>
      <label for="nama-orgns"><b>Nama Organisasi</b></label>
      <input type="text" placeholder="Nama Organisasi" name="nama-orgns" required>

      <label for="website"><b>Website</b></label>
      <input type="text" placeholder="bingung.com" name="website" required>

      <label for="email-orgns"><b>Email</b></label>
      <input type="email" placeholder="Email" name="email-orgns" required>

      <label for="kecamatan-orgns"><b>Kecamatan</b></label>
      <input type="text" placeholder="Kecamatan" name="kecamatan-orgns" required>

      <label for="Kabupaten-orgns"><b>Kabupaten</b></label>
      <input type="text" placeholder="Kabupaten" name="kabupaten-orgns" required>

      <label for="provinsi-orgns"><b>Provinsi</b></label>
      <input type="text" placeholder="Provinsi" name="provinsi-orgns" required>

      <label for="kode-pos-orgns"><b>Kode Pos</b></label>
      <input type="text" placeholder="Kode Pos" name="kode-pos-orgns" required>

      <label for="alamat-orgns"><b>Alamat</b></label>
      <input type="text" placeholder="Jalan/Desa/Kelurahan/No.Rumah" name="alamat-orgns" required>

      <label for="tujuan-orgns"><b>Tujuan Organisasi</b></label>
      <input type="text" placeholder="Tujuan Organisasi" name="tujuan-orgns" required>

      <label for="pengurus-orgns"><b>Nama Pengurus</b></label>
      <input type="text" placeholder="Nama Pengurus" name="pengurus-orgns" required>

      <label for="email-pengurus"><b>Email Pengurus</b></label>
      <input type="email" placeholder="Email Pengurus" name="email-pengurus" required>

      <label for="alamat-pengurus"><b>Alamat Pengurus</b></label>
      <input type="text" placeholder="Alamat Pengurus" name="alamat-pengurus" required>
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Submit</button>
      </div>
    </div>
  </form>


  <script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
